#mainContainer {
    display: flex;
    justify-content: space-around;
    width: 180px;
    height: 225px;
    background-color: #eaa6d0;
    padding: 10px;
    border-radius: 1px;
}

table input {
   width: 40px;
   height: 40px;
   font-size: 20px;
   border: #e8ccdd;
   border-radius: 1px;
   background-color: #e6e8e5;
}

input[type=text] {
    width: 157px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 5px;
    background-color: #d2f4ec;
    border-radius: 2px;
    border-color: #bce0d7;

}

input[type=button]:hover {
    background-color:#e8ccdd;

}

